<div ng-controller="LinksController">
  <div class="navigation">
    <ul>
      <li><a href ng-click="selectTab(1); getLinks()" class="index selected">All Links</a></li>
      <li><a href ng-click="selectTab(2)" class="create">Shorten</a></li>
    </ul>
    <a href class="logout" ng-click="logout()">Logout</a>
  </div>
  <div id='container'>
    <div class="links" ng-show="isSelected(1)">
      <div class="link" ng-repeat="link in links | orderBy:'-visits'">
        <img src="assets/redirect_icon.png">
        <div class="info">
          <div class="visits"><span class="count">{{link.visits}}</span>Visits</div>
          <div class="title">{{link.title}}</div>
          <div class="original">{{link.url}}</div>
          <a href="/api/links/{{link.code}}">{{link.base_url}}/{{link.code}}</a>
        </div>
      </div>
    </div>
    <div class="creator" ng-show="isSelected(2)">
      <form name='urlSender'>
        <input class="text" type="url" name="url" ng-model="url">
        <input type="submit" value="Shorten" ng-disabled="urlSender.$invalid" ng-click="postLink(); console.log(urlSender.url.$invalid);">
      </form>
      <img class="spinner" ng-show="isLoading" src="assets/spiffygif_46x46.gif">
      <div class="message" ng-show="newLink">
        <div class="link" style="display: block;">
          <img src="assets/redirect_icon.png">
          <div class="info">
            <div class="visits"><span class="count">{{newLink.visits}}</span>Visits</div>
            <div class="title">{{newLink.title}}</div>
            <div class="original">{{newLink.url}}</div>
            <a href="/api/links/{{newLink.code}}">/{{newLink.code}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
